.header {
    background-color: rgb(219, 199, 195);
    color: white;
    padding: 10px;
  }
  
    #myheader {
      color: rgb(131, 131, 138);
      font-weight: 'san serif';font-size: medium;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #fcf7f7;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(230, 222, 222);
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #fcf7f7;
    }