img:hover {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(-1deg); }
  25% { transform: translate(-1px, -2px) rotate(-3deg); }
  50% { transform: translate(-3px, 0px) rotate(3deg); }
  75% { transform: translate(3px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(3deg); }
}

h1 {
      font-family: 'karla';
      color:grey;
      text-align: center;
      font-size: 70px;
    }
  
    h2 {
      font-family: 'karla';
      color: grey;
      text-align: center;
      font-size: 10px;
    }

h4 {
  text-align: center;
  font-family: 'karla';;
  font-size: 10px;
  color: #b19e9e;
}



